{{item-tools/title model.title type="large"}}
<div class="row">
  By&nbsp;
  {{item-tools/avatar model.author.profilePic type="x-small"}}
  {{item-tools/title model.author.name class="author" type="dark-gray"}}
</div>

<div class="article">
  {{model.text}}
</div>