&{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(black, .6);
    padding: 20px;

    & >* + * {
        margin-left: 10px;
    }

    & > * {
        flex: 1 1 auto;
    }
}

& + & {
    margin-top: 10px;
}