&{
  flex-grow: 0;
  flex-shrink: 0;
  height: 100px;
  width: 100px;

  img {
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;
    display: block;
    border: 4px solid rgba(green, 0.6);
  }
}

&.small {
  height: 50px;
  width: 50px;

  img {
    height: 50px;
    width: 50px;
  }
}

&.x-small {
  height: 26px;
  width: 26px;

  img {
    height: 26px;
    width: 26px;
  }
}

&.border-red {
  img {
    border-color: rgba(red, 0.6)
  }
}