&{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    border: 2px solid darken(darkgray, 2);
    border-radius: 10px;   
}

& + & {
    margin-top: 20px;   
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid rgba(red, 0.5);
}

.title {
    line-height: 1.5;
    font-size: 29px;
    margin-left: 10px;
    color: rgba(black, 0.5);
    flex: 1 1 auto;
}