<h2>List of blogs</h2>
<button data-test-add-blog {{action (route-action "goToAddBlog")}}>Add new blog</button>
{{#each (sort-by "datePublished:desc" model) as |blog|}}
  {{blog-card blog click=(route-action "goToBlog" blog.id)}}
{{/each}}